*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: rgb(156, 139, 139);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5px;

}

.menu{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.links{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.8vw;
}
.logo{
    width:150px;
    height: 80px;
    background-color: rgb(2, 44, 30);
    color: white;
    border-radius: 50%;
    padding:5px;
}

@media screen and (max-width:750px) {
    .links{
        font-size: 3vw;
        
    }
    .myLogo{
        font-size: 3vw;
    }
    .menu{
        width:65%;
    }
    
    
}