*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.navbar{
    height: 100px;
    width: 100%;
    background:linear-gradient(to right,black ,rgb(14, 14, 116),rgb(197, 39, 65));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5px;
 
}

.menu{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.links-active{
    text-decoration:underline;
    font-weight: bold;
    color: goldenrod;

}

.links{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1vw;
    color: white;
    font-weight: bold;
}
.myLogo{
   

    color: white;
   
}

@media screen and (max-width:750px) {
    .links{
        font-size: 3vw;
        
    }
    .myLogo{
        font-size: 3vw;
    }
    .menu{
        width:65%;
    }
    
    
}